.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px) 50px 50px;
    gap: 20px;
   
}
.box{
    background-color: grey;
    color: white;
    font-size: medium;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#box-1{
    grid-row: span 5;
}
#box-6 , #box-7 , #box-9 , #box-10{
    background-color: brown;
}
#box-11 , #box-12{
    grid-column: span 3;
}